// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables

$body-bg: #e3d5ca;
$body-color: #222;
$primary: #c3a58d;
$font-family-base: Arial;

html {
  scroll-behavior: smooth;
}

// Include all Bootstrap
@import "~bootstrap/scss/bootstrap";

// Add you custom CSS

.hero-image {
  width: 250px;
  height: 250px;
}

.box1 {
  background-color: #fff;
  margin-top: -120px;
  padding-top: 130px;
}

.btn {
  background-color: $primary;
  color: #fff;
  margin: 5px;
  border: $primary;
}

btn:hover {
  background-color: #78583f;
}

.box2 {
  background-color: #fff;
  text-align: left;
  margin: 20px 20px 0;
  padding-left: 5%;
}

.btn2 {
  color: #000000;
}

.card {
  border: none;
}

.cv {
  padding-top: 5%;
  text-align: center;
}

.cvtopics {
  padding-top: 5%;
  padding-bottom: 2%;
}

.date {
  margin-bottom: -1px;
}

.education {
  padding-bottom: 5%;
  margin: 0;
}

.center {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1%;
}

.footer {
  padding: 5%;
}
