// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables

$body-bg: #e3d5ca;
$body-color: #222;
$primary: #c3a58d;
$font-family-base: Arial;

// Include all Bootstrap
@import "~bootstrap/scss/bootstrap";

// Add you custom CSS

.fancy {
  display: inline-block;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: #fff;
  padding: 0.5em;
}

.hero-image {
  max-width: 250px;
}

.box1 {
  background-color: #fff;
  margin-top: -120px;
  padding-top: 130px;
}

.btn {
  background-color: #c3a58d;
  color: #fff;
  margin: 5px;
  border: $primary;
}

btn:hover {
  background-color: #78583f;
}
